<launch>
	<node name="L_det" pkg="bring_up" type="lane_detect.py" output="screen"/>
	<node name="tracking" pkg="bring_up" type="lane_tracking.py" output="screen"/>
	<node name="cam" pkg="automodelcar" type="camera_raw.py" output="screen"/> 
        <include file="$(find ydlidar_ros)/launch/X2L.launch"/>
        <node name="obstacle" pkg="automodelcar" type="obstacle_detector_L.py" output="screen"/>
</launch>
